In [2]:
# profile name is: aimlops-jarvis
# AKIAR7FVKROUS2ACH2DC
# be5e+uWFCX6Osj/kkqlXJQsnVA3gAKl4eulnSpV5

To use a named profile in `boto3` and to create one using AWS CLI, follow these steps:

### Creating a Named Profile Using AWS CLI

1. **Install AWS CLI:**
   - Ensure that you have the AWS Command Line Interface (AWS CLI) installed. If not, you can download and install it from the [AWS CLI website](https://aws.amazon.com/cli/).

2. **Configure a New Profile:**
   - Open a command line interface.
   - Run the following command:
     ```bash
     aws configureaimlops-jarvisrofile-name
     ```
 aimlops-jarvis-profile-name` with the desired name for your profile.
   - You will be prompted to enter the AWS Access Key ID, Secret Access Key, default region name, and default output format. Enter these details as prompted.

3. **Verify Profile Creation:**
   - The profile is stored in the AWS credentials file (`~/.aws/credentials`) and the configuration file (`~/.aws/config`) on your machine.
   - You can verify the creation by opening these files in a text editor and checking for the profile.

In [5]:
import boto3
import time
import pandas as pd

session = boto3.Session(profile_name='aimlops-jarvis')

# Now you can use this session to create clients or resources
client = session.client('athena', region_name='ap-south-1')

In [6]:
response = client.start_query_execution(
    QueryString='''SELECT * FROM "aimlops-jarvis-capstone-stocks"."stocks_data" limit 10''',
    # ClientRequestToken='string',
    QueryExecutionContext={
        'Database': 'aimlops-jarvis-capstone-stocks',
        'Catalog': 'AwsDataCatalog'
    },
    # ResultConfiguration={
    #     'OutputLocation': 'string',
    #     'EncryptionConfiguration': {
    #         'EncryptionOption': 'SSE_S3'|'SSE_KMS'|'CSE_KMS',
    #         'KmsKey': 'string'
    #     },
    #     'ExpectedBucketOwner': 'string',
    #     'AclConfiguration': {
    #         'S3AclOption': 'BUCKET_OWNER_FULL_CONTROL'
    #     }
    # },
    WorkGroup='aimlops-grp2-jarvis-capstone-athena-workgroup'
    # ExecutionParameters=[
    #     'string',
    # ],
    # ResultReuseConfiguration={
    #     'ResultReuseByAgeConfiguration': {
    #         'Enabled': True|False,
    #         'MaxAgeInMinutes': 123
    #     }
    # }
)

query_execution_id = response['QueryExecutionId']


while True:
    response = client.get_query_execution(QueryExecutionId=query_execution_id)
    state = response['QueryExecution']['Status']['State']
    if state in ['SUCCEEDED', 'FAILED', 'CANCELLED']:
        break
    time.sleep(1)  # Sleep for a second before checking the status again



if state == 'SUCCEEDED':
    results = client.get_query_results(QueryExecutionId=query_execution_id)
    # Process the results as needed

In [28]:
# results['ResultSet']['Rows']

In [7]:
def get_data_items(data_items):
    for data_item in data_items:
        yield [item['VarCharValue'] for item in data_item['Data']]


all_data = [item for item in get_data_items(results['ResultSet']['Rows'][1:])]
cols = [item['VarCharValue'] for item in results['ResultSet']['Rows'][0]['Data']]

df = pd.DataFrame(all_data, columns=cols)


numeric_cols = ['open', 'high', 'low', 'close', 'adj close', 'volume']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

df.head()

,date,open,high,low,close,adj close,volume,company_name,company_code,year,month,day
0,2023-11-23,795.0,804.700012,791.450012,793.099976,793.099976,3776456.0,Adani Ports & SEZ Ltd.,ADANIPORTS,2023,11,23
1,2023-11-23,3148.0,3171.399902,3115.149902,3122.949951,3122.949951,792187.0,Asian Paints Ltd.,ASIANPAINT,2023,11,23
2,2023-11-23,999.0,1003.400024,995.400024,999.049988,999.049988,3112439.0,Axis Bank Ltd.,AXISBANK,2023,11,23
3,2023-11-23,5800.0,5945.000000,5783.100098,5925.250000,5925.250000,1118334.0,Bajaj Auto Ltd.,BAJAJ-AUTO,2023,11,23
4,2023-11-23,7135.0,7160.000000,7056.000000,7073.649902,7073.649902,606010.0,Bajaj Finance Ltd.,BAJFINANCE,2023,11,23